# #---------------------------------------prod backend deploy with oidc and ssm ---------------------------------
# #-------------------Production Env file ---------------------
# name: Backend

# on:
#   push:
#     branches: [main]
#   pull_request:
#     branches: [main]

# permissions:
#   contents: read
#   id-token: write

# jobs:
#   #----------------------------------------Build & Push IMAGE---------------------------------
#   build-and-push:
#     name: Build and Push Docker Image to ECR
#     runs-on: ubuntu-latest

#     steps:
#       #---------------checkout code--------------------------------------------------------
#       - name: checkout code
#         uses: actions/checkout@v4

#       #--------------------------- Configure AWS credentials-------------------------------
#       - name: Configure AWS credentials
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           audience: sts.amazonaws.com
#           role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
#           aws-region: ${{ secrets.REGION }}

#       # Login to Amazon ECR
#       - name: Login to Amazon ECR
#         id: login-ecr
#         uses: aws-actions/amazon-ecr-login@v2

#       # -------------------- Backend-----------------
#       - name: Build and Push Backend
#         run: |
#           docker build -t pro-backend .
#           docker tag ${{ secrets.PRO_BACKEND_ECR_REPOSITORY }}:latest ${{ secrets.PRO_BACKEND_ECR_REGISTRY }}:latest
#           docker push ${{ secrets.PRO_BACKEND_ECR_REGISTRY }}:latest

#   #-----------------Deploy to EC2----
#   deploy:
#     runs-on: ubuntu-latest
#     needs: build-and-push
#     env:
#       AWS_REGION: ${{ secrets.REGION }}

#     steps:
#       - name: Configure AWS credentials
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           audience: sts.amazonaws.com
#           role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
#           aws-region: ${{ secrets.REGION }}

#       - name: Deploy to EC2 via SSM
#         run: |
#           aws ssm send-command \
#             --region "$AWS_REGION" \
#             --instance-ids "${{ secrets.PRO_EC2_INSTANCE_ID }}" \
#             --document-name "AWS-RunShellScript" \
#             --parameters commands="/usr/local/bin/deploy-backend.sh ${{ secrets.PRO_BACKEND_ECR_URL }}"














# #------------------------------frontend prod deploy with oidc and ssm ---------------------------------
# #-------------------Production Env file ---------------------
# name: frontend-webportal

# on:
#   push:
#     branches: [main]
#   pull_request:
#     branches: [main]

# permissions:
#   contents: read
#   id-token: write

# jobs:
#   #----------------------------------------Build & Push IMAGE---------------------------------
#   build-and-push:
#     name: Build and Push Docker Image to ECR
#     runs-on: ubuntu-latest

#     steps:
#       #---------------checkout code--------------------------------------------------------
#       - name: checkout code
#         uses: actions/checkout@v4

#       #--------------------------- Configure AWS credentials-------------------------------
#       - name: Configure AWS credentials
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           audience: sts.amazonaws.com
#           role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
#           aws-region: ${{ secrets.AWS_REGION }}

#       # Login to Amazon ECR
#       - name: Login to Amazon ECR
#         id: login-ecr
#         uses: aws-actions/amazon-ecr-login@v2

#       # -------------------- FRONTEND-----------------
#       - name: Build and Push frontend
#         run: |
#           docker build -t pro-frontend .
#           docker tag ${{ secrets.PRO_ECR_REPOSITORY }}:latest ${{ secrets.PRO_ECR_REGISTRY }}:latest
#           docker push ${{ secrets.PRO_ECR_REGISTRY }}:latest

#   #-----------------Deploy to EC2----
#   deploy:
#     runs-on: ubuntu-latest
#     needs: build-and-push
#     env:
#       AWS_REGION: ${{ secrets.AWS_REGION }}

#     steps:
#       - name: Configure AWS credentials
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           audience: sts.amazonaws.com
#           role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
#           aws-region: ${{ secrets.AWS_REGION }}

#       - name: Deploy frontend to EC2 via SSM
#         run: |
#           aws ssm send-command \
#             --region "$AWS_REGION" \
#             --instance-ids "${{ secrets.PRO_EC2_INSTANCE_ID }}" \
#             --document-name "AWS-RunShellScript" \
#             --parameters commands="/usr/local/bin/deploy-frontend.sh ${{ secrets.PRO_ECR_URL }}"

